<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
    <link rel="stylesheet" href="../../dist/antd.css" />
    <!--
      TDesign 图标库，桌面端与移动端用同样的资源
      使用方式：<i class="t-icon t-icon-delete"></i>
    -->
    <link
      rel="stylesheet"
      href="https://tdesign.gtimg.com/icon/0.0.3/fonts/index.css"
    />
    <style>
      .disable-button {
        padding: 40px;
        margin-bottom: 40px;
        position: sticky;
        top: 0;
        background: #fff;
        border-bottom: 1px solid #ddd;
      }
    </style>
  </head>
  <body>
    <div class="tdesign-demo-wrap tdesign-demo-wrap--button">
      <!-- 开发者信息 -->
      <div class="tdesign-demo-wrap__name">
        <h1 class="">Button</h1>
        <p class="tdesign-demo-wrap__info">开发者：张福浩</p>
        <p class="tdesign-demo-wrap__info">创建日期：2022-09-06</p>
        <p class="tdesign-demo-wrap__info">
          说明：@sensoro-design/antd button 组件的基本样式
        </p>
      </div>

      <div class="disable-button">
        禁用
        <button class="t-switch t-size-m">
          <span class="t-switch__handle"></span>
          <div class="t-switch__content t-size-m"></div>
        </button>
      </div>

      <!-- 组件开始区 -->

      <!-- 组件类型 variant -->
      <div class="tdesign-demo-item">
        <h2 class="tdesign-demo-item__title">按钮类型</h2>

        <div class="tdesign-demo-item__body-inline">
          <!-- 内容区 Start-->
          <button type="button" class="ant-btn ant-btn-primary">
            主要按钮
          </button>
          <button type="button" class="ant-btn ant-btn-default">
            默认按钮
          </button>
          <button type="button" class="ant-btn ant-btn-dashed">虚框按钮</button>
          <button type="button" class="ant-btn ant-btn-link">链接按钮</button>
          <!-- 内容区 End-->
        </div>
      </div>

      <!-- 图标按钮 -->
      <div class="tdesign-demo-item">
        <h2 class="tdesign-demo-item__title">图标按钮</h2>

        <div class="tdesign-demo-item__body-inline">
          <!-- 内容区 Start-->
          <button type="button" class="ant-btn ant-btn-primary">
            <span role="img" aria-label="plus" class="anticon anticon-plus">
              <svg
                viewBox="64 64 896 896"
                focusable="false"
                data-icon="plus"
                width="1em"
                height="1em"
                fill="currentColor"
                aria-hidden="true"
              >
                <defs><style></style></defs>
                <path
                  d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"
                />
                <path
                  d="M176 474h672q8 0 8 8v60q0 8-8 8H176q-8 0-8-8v-60q0-8 8-8z"
                />
              </svg>
            </span>
            <span>编辑</span>
          </button>
          <button type="button" class="ant-btn ant-btn-default">
            <span role="img" aria-label="plus" class="anticon anticon-plus">
              <svg
                viewBox="64 64 896 896"
                focusable="false"
                data-icon="plus"
                width="1em"
                height="1em"
                fill="currentColor"
                aria-hidden="true"
              >
                <defs><style></style></defs>
                <path
                  d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"
                />
                <path
                  d="M176 474h672q8 0 8 8v60q0 8-8 8H176q-8 0-8-8v-60q0-8 8-8z"
                />
              </svg>
            </span>
            <span>编辑</span>
          </button>
          <button
            type="button"
            class="ant-btn ant-btn-default ant-btn-icon-only"
          >
            <span role="img" aria-label="plus" class="anticon anticon-plus">
              <svg
                viewBox="64 64 896 896"
                focusable="false"
                data-icon="plus"
                width="1em"
                height="1em"
                fill="currentColor"
                aria-hidden="true"
              >
                <defs><style></style></defs>
                <path
                  d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"
                />
                <path
                  d="M176 474h672q8 0 8 8v60q0 8-8 8H176q-8 0-8-8v-60q0-8 8-8z"
                />
              </svg>
            </span>
          </button>
          <button type="button" class="ant-btn ant-btn-link ant-btn-icon-only">
            <span role="img" aria-label="form" class="anticon anticon-form">
              <svg
                viewBox="64 64 896 896"
                focusable="false"
                data-icon="form"
                width="1em"
                height="1em"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  d="M904 512h-56c-4.4 0-8 3.6-8 8v320H184V184h320c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V520c0-4.4-3.6-8-8-8z"
                />
                <path
                  d="M355.9 534.9L354 653.8c-.1 8.9 7.1 16.2 16 16.2h.4l118-2.9c2-.1 4-.9 5.4-2.3l415.9-415c3.1-3.1 3.1-8.2 0-11.3L785.4 114.3c-1.6-1.6-3.6-2.3-5.7-2.3s-4.1.8-5.7 2.3l-415.8 415a8.3 8.3 0 00-2.3 5.6zm63.5 23.6L779.7 199l45.2 45.1-360.5 359.7-45.7 1.1.7-46.4z"
                />
              </svg>
            </span>
          </button>
          <!-- 内容区 End-->
        </div>
      </div>

      <!-- 按钮加载 variant -->
      <div class="tdesign-demo-item">
        <h2 class="tdesign-demo-item__title">按钮加载</h2>

        <div class="tdesign-demo-item__body-inline">
          <!-- 内容区 Start-->
          <button type="button" class="ant-btn ant-btn-primary ant-btn-loading">
            <span class="ant-btn-loading-icon" style="">
              <span
                role="img"
                aria-label="loading"
                class="anticon anticon-loading anticon-spin"
              >
                <svg
                  viewBox="0 0 1024 1024"
                  focusable="false"
                  data-icon="loading"
                  width="1em"
                  height="1em"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    d="M988 548c-19.9 0-36-16.1-36-36 0-59.4-11.6-117-34.6-171.3a440.45 440.45 0 00-94.3-139.9 437.71 437.71 0 00-139.9-94.3C629 83.6 571.4 72 512 72c-19.9 0-36-16.1-36-36s16.1-36 36-36c69.1 0 136.2 13.5 199.3 40.3C772.3 66 827 103 874 150c47 47 83.9 101.8 109.7 162.7 26.7 63.1 40.2 130.2 40.2 199.3.1 19.9-16 36-35.9 36z"
                  />
                </svg>
              </span>
            </span>
            <span>主要按钮</span>
          </button>
          <button type="button" class="ant-btn ant-btn-default ant-btn-loading">
            <span class="ant-btn-loading-icon" style="">
              <span
                role="img"
                aria-label="loading"
                class="anticon anticon-loading anticon-spin"
              >
                <svg
                  viewBox="0 0 1024 1024"
                  focusable="false"
                  data-icon="loading"
                  width="1em"
                  height="1em"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    d="M988 548c-19.9 0-36-16.1-36-36 0-59.4-11.6-117-34.6-171.3a440.45 440.45 0 00-94.3-139.9 437.71 437.71 0 00-139.9-94.3C629 83.6 571.4 72 512 72c-19.9 0-36-16.1-36-36s16.1-36 36-36c69.1 0 136.2 13.5 199.3 40.3C772.3 66 827 103 874 150c47 47 83.9 101.8 109.7 162.7 26.7 63.1 40.2 130.2 40.2 199.3.1 19.9-16 36-35.9 36z"
                  />
                </svg>
              </span>
            </span>
            <span>默认按钮</span>
          </button>
          <!-- 内容区 End-->
        </div>
      </div>

      <!-- 按钮属性 variant -->
      <div class="tdesign-demo-item">
        <h2 class="tdesign-demo-item__title">危险按钮</h2>

        <div class="tdesign-demo-item__body-inline">
          <!-- 内容区 Start-->
          <button
            type="button"
            class="ant-btn ant-btn-primary ant-btn-dangerous"
          >
            <span>删除项目</span>
          </button>
          <button
            type="button"
            class="ant-btn ant-btn-default ant-btn-dangerous"
          >
            删除
          </button>
          <button type="button" class="ant-btn ant-btn-link ant-btn-dangerous">
            删除
          </button>
          <!-- 内容区 End-->
        </div>
      </div>

      <!-- 组件尺寸 -->
      <!-- 图标按钮 -->
      <div class="tdesign-demo-item">
        <h2 class="tdesign-demo-item__title">按钮尺寸</h2>

        <div class="tdesign-demo-item__body-inline">
          <!-- 内容区 Start-->
          <button type="button" class="ant-btn ant-btn-lg ant-btn-primary">
            <span role="img" aria-label="plus" class="anticon anticon-plus">
              <svg
                viewBox="64 64 896 896"
                focusable="false"
                data-icon="plus"
                width="1em"
                height="1em"
                fill="currentColor"
                aria-hidden="true"
              >
                <defs><style></style></defs>
                <path
                  d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"
                />
                <path
                  d="M176 474h672q8 0 8 8v60q0 8-8 8H176q-8 0-8-8v-60q0-8 8-8z"
                />
              </svg>
            </span>
            <span>编辑</span>
          </button>
          <button type="button" class="ant-btn ant-btn-lg ant-btn-default">
            <span role="img" aria-label="plus" class="anticon anticon-plus">
              <svg
                viewBox="64 64 896 896"
                focusable="false"
                data-icon="plus"
                width="1em"
                height="1em"
                fill="currentColor"
                aria-hidden="true"
              >
                <defs><style></style></defs>
                <path
                  d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"
                />
                <path
                  d="M176 474h672q8 0 8 8v60q0 8-8 8H176q-8 0-8-8v-60q0-8 8-8z"
                />
              </svg>
            </span>
            <span>编辑</span>
          </button>
          <button
            type="button"
            class="ant-btn ant-btn-lg ant-btn-default ant-btn-icon-only"
          >
            <span role="img" aria-label="plus" class="anticon anticon-plus">
              <svg
                viewBox="64 64 896 896"
                focusable="false"
                data-icon="plus"
                width="1em"
                height="1em"
                fill="currentColor"
                aria-hidden="true"
              >
                <defs><style></style></defs>
                <path
                  d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"
                />
                <path
                  d="M176 474h672q8 0 8 8v60q0 8-8 8H176q-8 0-8-8v-60q0-8 8-8z"
                />
              </svg>
            </span>
          </button>
          <button
            type="button"
            class="ant-btn ant-btn-lg ant-btn-link ant-btn-icon-only"
          >
            <span role="img" aria-label="form" class="anticon anticon-form">
              <svg
                viewBox="64 64 896 896"
                focusable="false"
                data-icon="form"
                width="1em"
                height="1em"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  d="M904 512h-56c-4.4 0-8 3.6-8 8v320H184V184h320c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V520c0-4.4-3.6-8-8-8z"
                />
                <path
                  d="M355.9 534.9L354 653.8c-.1 8.9 7.1 16.2 16 16.2h.4l118-2.9c2-.1 4-.9 5.4-2.3l415.9-415c3.1-3.1 3.1-8.2 0-11.3L785.4 114.3c-1.6-1.6-3.6-2.3-5.7-2.3s-4.1.8-5.7 2.3l-415.8 415a8.3 8.3 0 00-2.3 5.6zm63.5 23.6L779.7 199l45.2 45.1-360.5 359.7-45.7 1.1.7-46.4z"
                />
              </svg>
            </span>
          </button>
          <!-- 内容区 End-->
        </div>
        <div class="tdesign-demo-item__body-inline">
          <!-- 内容区 Start-->
          <button type="button" class="ant-btn ant-btn-primary">
            <span role="img" aria-label="plus" class="anticon anticon-plus">
              <svg
                viewBox="64 64 896 896"
                focusable="false"
                data-icon="plus"
                width="1em"
                height="1em"
                fill="currentColor"
                aria-hidden="true"
              >
                <defs><style></style></defs>
                <path
                  d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"
                />
                <path
                  d="M176 474h672q8 0 8 8v60q0 8-8 8H176q-8 0-8-8v-60q0-8 8-8z"
                />
              </svg>
            </span>
            <span>编辑</span>
          </button>
          <button type="button" class="ant-btn ant-btn-default">
            <span role="img" aria-label="plus" class="anticon anticon-plus">
              <svg
                viewBox="64 64 896 896"
                focusable="false"
                data-icon="plus"
                width="1em"
                height="1em"
                fill="currentColor"
                aria-hidden="true"
              >
                <defs><style></style></defs>
                <path
                  d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"
                />
                <path
                  d="M176 474h672q8 0 8 8v60q0 8-8 8H176q-8 0-8-8v-60q0-8 8-8z"
                />
              </svg>
            </span>
            <span>编辑</span>
          </button>
          <button
            type="button"
            class="ant-btn ant-btn-default ant-btn-icon-only"
          >
            <span role="img" aria-label="plus" class="anticon anticon-plus">
              <svg
                viewBox="64 64 896 896"
                focusable="false"
                data-icon="plus"
                width="1em"
                height="1em"
                fill="currentColor"
                aria-hidden="true"
              >
                <defs><style></style></defs>
                <path
                  d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"
                />
                <path
                  d="M176 474h672q8 0 8 8v60q0 8-8 8H176q-8 0-8-8v-60q0-8 8-8z"
                />
              </svg>
            </span>
          </button>
          <button type="button" class="ant-btn ant-btn-link ant-btn-icon-only">
            <span role="img" aria-label="form" class="anticon anticon-form">
              <svg
                viewBox="64 64 896 896"
                focusable="false"
                data-icon="form"
                width="1em"
                height="1em"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  d="M904 512h-56c-4.4 0-8 3.6-8 8v320H184V184h320c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V520c0-4.4-3.6-8-8-8z"
                />
                <path
                  d="M355.9 534.9L354 653.8c-.1 8.9 7.1 16.2 16 16.2h.4l118-2.9c2-.1 4-.9 5.4-2.3l415.9-415c3.1-3.1 3.1-8.2 0-11.3L785.4 114.3c-1.6-1.6-3.6-2.3-5.7-2.3s-4.1.8-5.7 2.3l-415.8 415a8.3 8.3 0 00-2.3 5.6zm63.5 23.6L779.7 199l45.2 45.1-360.5 359.7-45.7 1.1.7-46.4z"
                />
              </svg>
            </span>
          </button>
          <!-- 内容区 End-->
        </div>
        <div class="tdesign-demo-item__body-inline">
          <!-- 内容区 Start-->
          <button type="button" class="ant-btn ant-btn-sm ant-btn-primary">
            <span role="img" aria-label="plus" class="anticon anticon-plus">
              <svg
                viewBox="64 64 896 896"
                focusable="false"
                data-icon="plus"
                width="1em"
                height="1em"
                fill="currentColor"
                aria-hidden="true"
              >
                <defs><style></style></defs>
                <path
                  d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"
                />
                <path
                  d="M176 474h672q8 0 8 8v60q0 8-8 8H176q-8 0-8-8v-60q0-8 8-8z"
                />
              </svg>
            </span>
            <span>编辑</span>
          </button>
          <button type="button" class="ant-btn ant-btn-sm ant-btn-default">
            <span role="img" aria-label="plus" class="anticon anticon-plus">
              <svg
                viewBox="64 64 896 896"
                focusable="false"
                data-icon="plus"
                width="1em"
                height="1em"
                fill="currentColor"
                aria-hidden="true"
              >
                <defs><style></style></defs>
                <path
                  d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"
                />
                <path
                  d="M176 474h672q8 0 8 8v60q0 8-8 8H176q-8 0-8-8v-60q0-8 8-8z"
                />
              </svg>
            </span>
            <span>编辑</span>
          </button>
          <button
            type="button"
            class="ant-btn ant-btn-sm ant-btn-default ant-btn-icon-only"
          >
            <span role="img" aria-label="plus" class="anticon anticon-plus">
              <svg
                viewBox="64 64 896 896"
                focusable="false"
                data-icon="plus"
                width="1em"
                height="1em"
                fill="currentColor"
                aria-hidden="true"
              >
                <defs><style></style></defs>
                <path
                  d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"
                />
                <path
                  d="M176 474h672q8 0 8 8v60q0 8-8 8H176q-8 0-8-8v-60q0-8 8-8z"
                />
              </svg>
            </span>
          </button>
          <button
            type="button"
            class="ant-btn ant-btn-sm ant-btn-link ant-btn-icon-only"
          >
            <span role="img" aria-label="form" class="anticon anticon-form">
              <svg
                viewBox="64 64 896 896"
                focusable="false"
                data-icon="form"
                width="1em"
                height="1em"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  d="M904 512h-56c-4.4 0-8 3.6-8 8v320H184V184h320c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V520c0-4.4-3.6-8-8-8z"
                />
                <path
                  d="M355.9 534.9L354 653.8c-.1 8.9 7.1 16.2 16 16.2h.4l118-2.9c2-.1 4-.9 5.4-2.3l415.9-415c3.1-3.1 3.1-8.2 0-11.3L785.4 114.3c-1.6-1.6-3.6-2.3-5.7-2.3s-4.1.8-5.7 2.3l-415.8 415a8.3 8.3 0 00-2.3 5.6zm63.5 23.6L779.7 199l45.2 45.1-360.5 359.7-45.7 1.1.7-46.4z"
                />
              </svg>
            </span>
          </button>
          <!-- 内容区 End-->
        </div>
      </div>
    </div>
    <script>
      let disabled = false;
      const buttons = document.querySelectorAll(".ant-btn");
      const disableSwitch = document.querySelector(".disable-button .t-switch");

      disableSwitch.addEventListener("click", function () {
        if (disabled) {
          disabled = false;
          Array.prototype.forEach.call(buttons, function (button) {
            button.disabled = false;
          });
          disableSwitch.classList.remove("t-is-checked");
        } else {
          disabled = true;
          Array.prototype.forEach.call(buttons, function (button) {
            button.disabled = true;
          });
          disableSwitch.classList.add("t-is-checked");
        }
      });
    </script>
  </body>
</html>
