@import '../../style/index';

.box {
  padding: @padding-lg;
  background: @sen-background;

  .shadow {
    width: 100%;
    height: 228px;
    padding: @padding-lg;
    color: @text-color-primary;
    border-radius: @border-radius-lg;
    background: @component-background;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all @animation-duration-base;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    &-name {
      font-size: @font-size-lg;
    }
    &-subname {
      font-size: @font-size-sm;
    }
    &-scene {
      font-size: @font-size-sm;
      color: @color-neutral-text-3;
    }
    &-value {
      font-size: @font-size-sm;
    }
  }

  .shadow-1 {
    box-shadow: @sen-shadow-01;
  }
  .shadow-2 {
    box-shadow: @sen-shadow-02;
  }
  .shadow-3 {
    box-shadow: @sen-shadow-03;
  }
}
