<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>alert</title>
    <!-- 文档公共样式 及组件特有示例样式-->
    <link rel="stylesheet" href="../../docs.css" />
    <!-- 组件样式（全部的） -->
    <link rel="stylesheet" href="../../dist/antd.css" />
    <!--
      TDesign 图标库，桌面端与移动端用同样的资源
      使用方式：<i class="t-icon t-icon-delete"></i>
    -->
    <link
      rel="stylesheet"
      href="https://tdesign.gtimg.com/icon/0.0.3/fonts/index.css"
    />
  </head>
  <body>
    <div class="tdesign-demo-wrap">
      <!-- 开发者信息 -->
      <div class="tdesign-demo-wrap__name">
        <h1>Alert</h1>
        <p class="tdesign-demo-wrap__info">开发者：张福浩</p>
        <p class="tdesign-demo-wrap__info">创建日期：2022-09-05</p>
        <p class="tdesign-demo-wrap__info">
          说明：@sensoro-design/antd alert 组件的基本样式
        </p>
      </div>

      <!-- 组件开始区 -->

      <!-- 默认样式 -->
      <div class="tdesign-demo-item">
        <h2 class="tdesign-demo-item__title">基础警告</h2>

        <!-- 灰底区域 可多个 -->
        <div class="tdesign-demo-item__body">
          <!-- 内容区 Start-->
          <div class="tdesign-demo-block">
            <div class="ant-alert ant-alert-success">
              这是一条成功的消息提示
            </div>
          </div>
          <div class="tdesign-demo-block">
            <div class="ant-alert ant-alert-info">这是一条普通的消息提示</div>
          </div>
          <div class="tdesign-demo-block">
            <div class="ant-alert ant-alert-warning">这是一条警示信息</div>
          </div>
          <div class="tdesign-demo-block">
            <div class="ant-alert ant-alert-error">高危操作/出错信息提示</div>
          </div>
          <!-- 内容区 End-->
        </div>
      </div>

      <!-- 组件状态 -->
      <div class="tdesign-demo-item">
        <h2 class="tdesign-demo-item__title">带图标的警告</h2>

        <!-- 灰底区域 可多个 -->
        <div class="tdesign-demo-item__body">
          <!-- 内容区 Start-->

          <div class="tdesign-demo-block">
            <div
              data-show="true"
              class="ant-alert ant-alert-success"
              role="alert"
            >
              <span
                role="img"
                aria-label="check-circle"
                class="anticon anticon-check-circle ant-alert-icon"
              >
                <svg
                  viewBox="64 64 896 896"
                  focusable="false"
                  data-icon="check-circle"
                  width="1em"
                  height="1em"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm193.5 301.7l-210.6 292a31.8 31.8 0 01-51.7 0L318.5 484.9c-3.8-5.3 0-12.7 6.5-12.7h46.9c10.2 0 19.9 4.9 25.9 13.3l71.2 98.8 157.2-218c6-8.3 15.6-13.3 25.9-13.3H699c6.5 0 10.3 7.4 6.5 12.7z"
                  />
                </svg>
              </span>
              <div class="ant-alert-content">
                <span>这是一条成功的消息提示</span>
              </div>
            </div>
          </div>
          <div class="tdesign-demo-block">
            <div data-show="true" class="ant-alert ant-alert-info" role="alert">
              <span
                role="img"
                aria-label="info-circle"
                class="anticon anticon-info-circle ant-alert-icon"
              >
                <svg
                  viewBox="64 64 896 896"
                  focusable="false"
                  data-icon="info-circle"
                  width="1em"
                  height="1em"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm32 664c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V456c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v272zm-32-344a48.01 48.01 0 010-96 48.01 48.01 0 010 96z"
                  />
                </svg>
              </span>
              <span>这是一条普通的消息提示</span>
            </div>
          </div>
          <div class="tdesign-demo-block">
            <div
              data-show="true"
              class="ant-alert ant-alert-warning"
              role="alert"
            >
              <span
                role="img"
                aria-label="exclamation-circle"
                class="anticon anticon-exclamation-circle ant-alert-icon"
              >
                <svg
                  viewBox="64 64 896 896"
                  focusable="false"
                  data-icon="exclamation-circle"
                  width="1em"
                  height="1em"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm-32 232c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v272c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V296zm32 440a48.01 48.01 0 010-96 48.01 48.01 0 010 96z"
                  />
                </svg>
              </span>
              <div class="ant-alert-content">
                <div class="ant-alert-message">这是一条警示信息</div>
              </div>
              <button type="button" class="ant-alert-close-icon" tabindex="0">
                <span
                  role="img"
                  aria-label="close"
                  class="anticon anticon-close"
                >
                  <svg
                    viewBox="64 64 896 896"
                    focusable="false"
                    data-icon="close"
                    width="1em"
                    height="1em"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 00203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"
                    />
                  </svg>
                </span>
              </button>
            </div>
          </div>
          <div class="tdesign-demo-block">
            <div
              data-show="true"
              class="ant-alert ant-alert-error"
              role="alert"
            >
              <span
                role="img"
                aria-label="close-circle"
                class="anticon anticon-close-circle ant-alert-icon"
              >
                <svg
                  viewBox="64 64 896 896"
                  focusable="false"
                  data-icon="close-circle"
                  width="1em"
                  height="1em"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm165.4 618.2l-66-.3L512 563.4l-99.3 118.4-66.1.3c-4.4 0-8-3.5-8-8 0-1.9.7-3.7 1.9-5.2l130.1-155L340.5 359a8.32 8.32 0 01-1.9-5.2c0-4.4 3.6-8 8-8l66.1.3L512 464.6l99.3-118.4 66-.3c4.4 0 8 3.5 8 8 0 1.9-.7 3.7-1.9 5.2L553.5 514l130 155c1.2 1.5 1.9 3.3 1.9 5.2 0 4.4-3.6 8-8 8z"
                  />
                </svg>
              </span>
              <span>高危操作/出错信息提示</span>
            </div>
          </div>

          <!-- 内容区 End-->
        </div>
      </div>
      <!-- 组件尺寸 -->
    </div>
  </body>
  <script>
    function handleClose(el) {
      el.parentNode.addEventListener(
        "transitionend",
        () => {
          el.parentNode.classList.add("t-is-hidden");
        },
        true
      );
      el.parentNode.classList.add("t-alert--closing");
    }

    Array.prototype.forEach.call(
      document.getElementsByClassName("t-alert__close"),
      (el) => {
        el.addEventListener("click", () => handleClose(el), true);
      }
    );
    Array.prototype.forEach.call(
      document.getElementsByClassName("t-swiper__close"),
      (el) => {
        el.addEventListener("click", () => handleClose(el), true);
      }
    );
  </script>
</html>
